body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.autorization-batton {
  background-color: #ffffff;
  color: #000000;

  font-size: 21px;
  line-height: 21px;
}

.autorization-batton:hover,
.autorization-batton:focus {
  color: #ee3643;
}

.autorization-batton:active {
  opacity: 0.3;
}

.order-options {
  padding: 0;
}

.order-options li {
  width: 150px;
  list-style: none;

  font-size: 17px;
  line-height: 18px;
}

.order-options a {
  color: #ffffff;
}

.order-options a:active {
  color: #8b8e94;
}

 .site-search input[type="search"] {
  background-color: #293449;
  border: none;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.order-options li:hover,
.order-options li:focus,
.site-search input[type="search"]:hover,
.site-search input[type="search"]:active {
  background-color: #212a3a;
}

.site-search input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.order-options li:active {
  color: #8b8e94;
  background-color: #161d29;
}

.order-options li:nth-child(3) {
  background-color: #63a63e;
}

.order-options li:nth-child(3):hover,
.order-options li:nth-child(3):focus {
  background-color: #5fbb2d;
}

.order-options li:nth-child(3):active {
  color: #8b8e94;
  background-color: #518534;
}

.main-header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
}

.header-top {
  background-color: #293449;
}

.header-top-flex {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone {
  width: 270px;
  text-align: center;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.site-navigation li {
  list-style: none;
  padding: 20px  30px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #32425c;
  /*padding: 0 20px;*/
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a:hover,
.site-navigation li:hover,
.site-navigation a:focus,
.site-navigation li:focus {
  background-color: #293449;
}

.site-navigation a:active,
.site-navigation li:active {
  background-color: #1d2739;
  color: #868c95;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user:hover {
  color: #000000;
}

.offers {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.offers-item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.offers-item:nth-child(3n) {
  margin-right: 0;
}

.offers li:nth-child(1),
.offers li:nth-child(5) {
  background-color: #ffbf47;
}

.offers li:nth-child(2) {
  background-color: #3bbce3;
}

.offers li:nth-child(3) {
  background-color: #dc91d8;
}

.offers li:nth-child(6) {
  background-color: #8ed78f;
}

.offers-title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #e5e5e5;
}

.promo-button:hover,
.promo-button:focus {
  background-color: #cccccc;
}

.promo-button:active {
  background-color: #b2b2b2;
}

.slider {
  background-image: url(../img/slide_1.jpg);
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popular-header {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-item {
  width: 218px;
  margin-right: 20px;
}

.product-item:last-child {
  margin-right: 0;
}

.brends {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.brends-item {
  border: 1px solid #eaeaea;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.brends-item:nth-child(4n) {
  margin-right: 0;
}

.about {
  width: 520px;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about p {
  font-size: 13px;
  line-height: 24px;
}

.delivery-company {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.services {
  background-color: #f4f8f9;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-top: 85px;
  margin-bottom: 80px;
}

.services h2,
.services h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-size: 13px;
  line-height: 24px;
}

.services-menu {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.services-menu-button {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-menu-button:hover,
.services-menu-button:focus {
  background-color: #293449;
}

.services-menu-button:active {
  background-color: #ffffff;
  color: #32425c;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.main-footer  {
  color: #ffffff;
  background-color: #32425c;
}

.main-footer ul {
  margin: 0;
  padding: 0;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-size: 18px;
  line-height: 24px;
}

.footer-adress {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f8;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f8;
  width: 140px;
}

.copyright-since {
  width: 220px;
}

.copyright a {
  color: #ffd180;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.copyright a:active {
  text-decoration: none;
  color: #c73644;
}


.main-footer-navigation,
.additional-footer-navigation {
  display: flex;
  list-style: none;
  width: 550px;
  justify-content: space-between;
}


.main-footer-navigation a,
.additional-footer-navigation a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}


.additional-footer-navigation a {
  color: #ffd180;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus,
.additional-footer-navigation a:hover,
.additional-footer-navigation a:focus {
  text-decoration: underline;
}


.main-footer-navigation a:active,
.additional-footer-navigation a:active {
  opacity: 0.5;
}

.social-list {
  display: flex;
}

.social ul {
  list-style: none;
}

.social ul li {
  background-color: #212a3a;
}

.social ul li:hover,
.social ul li:focus,
.social ul li:active {
  background-color: #ee3643;
}

.social ul a {
  color: #ffffff;
  text-decoration: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.category {
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters {
  width: 220px;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 700px;
}

.filters h3 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters,
.catalogs {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.form-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-type {
  list-style: none;
}

.sort ul {
  padding: 0;
  margin: 0;
}

.sort-type a {
  color: #acaaa5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dashed #ee3643;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type a:active {
  color: #ee3643;
  border-bottom: none;
}

.product {
  list-style: none;
}

.product-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item-title a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.old-cost {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
}

.new-cost {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-list a {
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.pagination-list a {
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  background-color: #ee3643;
  color: #ffffff;
}

.about-perforator {
  background-color: #f2f6f8;
}

.about-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforator p {
  font-size: 13px;
  line-height: 24px;
}
