body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.autorization-batton {
  display: block;
  background-color: #ffffff;
  color: #000000;

  font-size: 21px;
  line-height: 21px;

  padding: 13px 25px;
  margin-bottom: auto;
}

.login {
  position: relative;
  padding-left: 42px;
  margin-right: 5px;
}

.login::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 9px;
  width: 20px;
  height: 17px;
  background-image: url(../img/login.svg);
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.autorization-batton:hover,
.autorization-batton:focus {
  color: #ee3643;
}

.autorization-batton:active {
  color: #000000;
  opacity: 0.3;
}

.site-search label {
  position: relative;
}

.site-search label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 15px;
  width: 17px;
  height: 17px;
  margin-top: -10px;
  background-image: url(../img/search.svg);
  opacity: 0.3;
}

.site-search label:hover::before {
  opacity: 1;
}

.site-search label:active::before {
  color: #ee3643;
}

.site-search input[type="search"] {
  padding: 8px 20px;
  padding-left: 49px;
  width: 270px;
  background-color: #293449;
  border: none;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.site-search input[type="search"]:hover,
.site-search input[type="search"]:active {
  background-color: #212a3a;
}

.site-search input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.main-header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.header-top {
  background-color: #293449;
  margin-bottom: 45px;
}

.header-top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo,
.footer-logo {
  box-shadow: 0 5px 0 0 #b52933;
  min-width: 220px;
}

.header-logo a,
.footer-logo a {
  display: block;
  padding: 10px 55px;
  background-color: #ee3643;
}

.footer-logo a {
  padding: 20px 40px;
}

.footer-logo {
  width: 220px;
  margin-bottom: 30px;
}


.header-logo a:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo a:active {
  background-color: #ba2732;
}

.order-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  font-size: 17px;
  line-height: 18px;
  min-width: 450px;
  margin: 0;
  padding: 0;
}

.order-options a {
  display: block;
  color: #ffffff;
  padding-left: 45px;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.order-options .order {
  padding: 8px 21px;
}

.order-options a:hover,
.order-options a:focus {
  background-color: #212a3a;
}

.order-options a:active {
  color: #8b8e94;
  background-color: #161d29;
}

.order-options .order {
  background-color: #63a63e;
}

.order-options .order:hover,
.order-options .order:focus {
  background-color: #5fbb2d;
}

.order-options .order:active {
  opacity: 0.5;
}

.bookmarks,
.cart {
  position: relative;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -10px;
  width: 14px;
  height: 16px;
  background-image: url(../img/bookmark.svg);
  opacity: 0.3;
}

.cart::before {
  content: "";

  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -9.5px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.description,
.header-contacts {
  margin: 0;
}

.description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding-left: 53px;
  padding-top: 3px;
}

.header-about {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 39px;
}

.header-contacts {
  padding-right: 70px;
  padding-left: 70px;
}

.header-contacts span {
  display: block;
}

.phone {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 263px;
  text-align: center;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 10px;
  margin-bottom: 2px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 9px;
  width: 19px;
  height: 19px;
  background-image: url(../img/phone.svg);
}

.adress {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  margin-left: -5px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32425c;
  box-shadow: 0 4px 0 0 #293449;
  /*padding: 20px 51px;*/
}

.site-navigation a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 28px;
}

.site-navigation li:first-child a {
  padding-left: 54px;
}

.site-navigation li:last-child a {
  padding-right: 54px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: #868c95;
}

.user {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.user-name {
  position: relative;
  width: 100%;
  text-align: center;
}

.user-name::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 15px;
  width: 20px;
  height: 18px;
  margin-top: -9px;
  background-image: url(../img/user.svg);
  opacity: 0.3;
}

.user-name::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 18px;
  margin-top: -9px;
  background-image: url(../img/login.svg);
  opacity: 0.3;
}

.user-name:hover::before,
.user-name:hover::after {
  opacity: 1;
}

.user-name:active::before,
.user-name:active::after {
  opacity: 0.3;
}

.user-name:hover {
  color: #000000;
}

.user-navigation {
  display: flex;
  list-style: none;
}

.user-navigation a {
  padding-right: 30px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-navigation li:first-child a {
  position: relative;
}

.user-navigation li:first-child a::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  width: 4px;
  height: 4px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user:hover {
  color: #000000;
}

.offers {
  display: flex;
}

.offers .left-column {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin-right: 20px;
}

.offers .right-column {
  width: 300px;
}

.offers-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  /*min-height: 123px;*/
}

.offers-item:nth-child(3n) {
  margin-right: 0;
}

.offers .materials,
.offers .delivery {
  background-color: #ffbf47;
}

.offers .tools {
  background-color: #3bbce3;
  margin-right: 0;
}

.offers .technics {
  background-color: #dc91d8;
}

.offers .sale {
  background-color: #8ed78f;
  margin-right: 0;
}

.offers-title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.offers-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -31px;
}

.promo {
  margin-bottom: 25px;
}

.promo-button {
  display: block;
  width: 135px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px 0;
  order: 1;
  /*margin-bottom: auto;*/
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  width: 620px;
  padding: 0;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slides .slides-footer {
  display: flex;
  align-items: center;
}

.slides-footer input {
  display: none;
}

.slides-footer label {
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.slides-footer label::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 50%;

  margin-right: -3px;
  margin-top: -3px;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ee3643;
  display: none;
}

.slides-footer input:checked + label::after {
  display: block;
}

.slide1 {
  box-sizing: border-box;
  background-image: url(../img/slide_1.jpg);
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  width: 620px;
  height: 266px;
  /*min-height: 276px;*/
}

.slide2 {
  display: none;
  box-sizing: border-box;
  background-image: url(../img/slide_2.jpg);
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  min-height: 266px;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.slider-btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-right: 75px;
  border-radius: 3px;
}

.slides-main {
  display: flex;
  justify-content: space-between;
}

.popular {
  margin-bottom: 25px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 24px;
  padding: 0 23px;
}

.popular-header h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-btn {
  display: block;
  width: 253px;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  box-sizing: border-box;
  display: flex;
  width: 220px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e5e5e5;
  /*margin-right: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;*/
}

.product-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item:hover .image .shape {
  display: flex;
}

.product-item .image {
  position: relative;
  order: -1;
}

.image .shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0;
  width: 216px;
  height: 130px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}

.shape li:first-child {
  padding-top: 40px;
}

.shape .shape-button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  text-align: center;
  border: none;border-radius: 3px;

  padding: 10px 0;
  margin-bottom: 10px;
}

.shape .buy {
  position: relative;
  background-color: #63a63e;
  color: #ffffff;
  box-shadow: 0 3px 0 0 rgba(54, 115, 21, 1);
}

.shape .buy::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 14px;

  width: 15px;
  height: 15px;
  background-image: url(../img/cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-top: -7.5px;
}

.shape .buy:hover,
.shape .buy:focus {
  background-color: #5fbb2d;
  outline: none;
}

.shape .buy:active {
  background-color: #518534;
  outline: none;
}

.shape .buy:hover::before,
.shape .buy:focus::before {
  opacity: 1;
}

.shape .add {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.shape .add:hover,
.shape .add:focus {
  outline: none;
  border-color: #32425c;
}

.shape .add:active {
  opacity: 0.3;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-popular {
  width: 220px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}

.product-popular:nth-child(3n) {
 margin-right: 20px;
}

.product-popular:last-child {
  margin-right: 0;
}

.product-item-title {
  text-align: center;
}

.product-item-title a {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-left: 20px;
  padding-right: 30px;
}

.cost {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

.old-cost {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  padding-bottom: 10px;
}

.new-cost {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 35px;
  border-radius: 3px;
}

.new-cost::after {
  content: "";

  position: absolute;
  top: 6px;
  right: -13px;
  width: 27px;
  height: 27px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

.brends {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.brends-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 145px;
}

.brends-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brends-item:active {
  opacity: 0.3;
}

.brends-item:nth-child(4n) {
  margin-right: 0;
}

.about {
  width: 520px;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about p {
  font-size: 13px;
  line-height: 24px;
}

.delivery-company {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.services {
  background-color: #f4f8f9;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-top: 48px;
  margin-bottom: 80px;
}

.services h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-size: 13px;
  line-height: 24px;
}

.tabs {
  /*font-family: "PT Sans", Arial, sans-serif;*/
  position: relative;
  margin-top: 67px;
}

.tabs input + label {
  cursor: pointer;
}

.tabs input {
  display: none;
}

.tabs label {
  box-sizing: border-box;
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  width: 240px;
  background-color: #32425c;
  padding: 15px 0;
  padding-left: 20px;
  margin-bottom: 2px;
  box-shadow:
  0 1px 0 0 #293449, 0 -1px 0 0 #405069;
}

.tabs label:hover,
.tabs label:focus {
  background-color: #293449;
}

.tabs input + label:active,
.tabs input:checked + label {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}

.tabs-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 620px;
  display: none;
}

.tabs-content-description {
  position: absolute;
  top: 0;
  left: 0;
}

.tabs-content-img {
  margin-left: 150px;
}

.tabs-content-img img {
width: 100%;
height: auto;
}

.tabs-content h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  margin-bottom: 25px;
}

#tab1:checked ~ .delivery,
#tab2:checked ~ .warranty,
#tab3:checked ~ .credit {
 display: flex;
 position: absolute;
 top: 0;
 right: 0;
}

.tab-btn {
  display: block;
  width: 195px;
  margin-top: 30px;
  padding: 10px 0;
  border-radius: 3px;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.columns .about,
.columns .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns .about {
  width: 520px;
  margin-right: 120px;
}

.columns .about h2,
.columns .contacts h2 {
  margin: 0;
}

.columns .about h2 {
  margin-bottom: 10px;
}

.about .delivery-company {
  margin-bottom: 20px;
  margin-top: 5px;
}

.about .delivery-company li {
  position: relative;
  margin-bottom: 20px;
}

.about .delivery-company li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -36px;
  margin-top: -1px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;

}

.columns .contacts {
  width: 300px;
}

.columns .contacts img {
  margin-bottom: 40px;
}

.about-btn,
.contacts-btn {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
}

.about-btn {
  width: 220px;
}

.main-footer  {
  color: #ffffff;
  background-color: #32425c;
}

.main-footer ul {
  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.footer-flex {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer-bottom {
  background-color: #293449;
  padding-top: 30px;
  padding-bottom: 35px;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-adress {
  margin: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f8;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f8;
  /*width: 140px;*/
}

.copyright .feedback {
  margin-right: -55px;
}

.copyright-since {
  /*width: 220px;*/
}

.copyright a {
  color: #ffd180;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.copyright a:active {
  text-decoration: none;
  color: #c73644;
}

.main-footer-navigation,
.additional-footer-navigation {
  display: flex;
  list-style: none;
  width: 550px;
  justify-content: space-between;
}

.additional-footer-navigation li {
  padding-top: 34px;
}

.additional-footer-navigation  li:first-child a {
  padding-left: 30px;
}


.main-footer-navigation a,
.additional-footer-navigation a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}


.additional-footer-navigation a {
  color: #ffd180;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus,
.additional-footer-navigation a:hover,
.additional-footer-navigation a:focus {
  text-decoration: underline;
}


.main-footer-navigation a:active,
.additional-footer-navigation a:active {
  opacity: 0.5;
}

.social {
  display: flex;
  align-items: center;
  margin-left: 132px;
  margin-right: 50px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 /* width: 130px;*/
}

.social-list li {
  margin-right: 3px;
}

.social-list a {
  background-color: #212a3a;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  background-color: #ee3643;
}

.social-list a {
  color: #ffffff;
  text-decoration: none;
}

.vk,
.fb,
.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs a {
  display: block;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 22px;
}

.breadcrumbs .home {
  width: 14px;
  height: 12px;
  background-image: url(../img/home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 0px;
  right: -15px;

  width: 8px;
  height: 12px;
  background-image: url(../img/right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child a::after {
  display: none;
}

.category {
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
}

.filters {
  width: 220px;
}

.filters hr {
  margin-bottom: 25px;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 700px;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding: 13px 0 13px 20px;
  margin: 0;
  margin-bottom: 20px;
}

.filter-range {
  margin-bottom: 25px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  box-sizing: border-box;
  width: 95px;
  text-align: center;
  border: none;
  background-color: #f7f3ec;
  padding: 10px 0;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -5px;

  width: 10px;
  height: 1px;
  background-color: #000000;
}

.range-controls {
  background-color: #f7f3ec;
  padding: 30px 20px;
  border-radius: 3px;
  position: relative;

  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(215, 220, 222, 1);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 21px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  right: 50px;
}

.filters,
.catalogs {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option input[type="checkbox"] {
  display: none;
}

.filter-option input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
}

.filter-option input[type="checkbox"] + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-option input[type="checkbox"]:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-option input[type="radio"] {
  display: none;
}

.filter-option input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
}

.filter-option input[type="radio"] + label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: 0;

  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-option input[type="radio"]:checked + label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: 0;

  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.form-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 13px 38px;

  background-color: #ffffff;

  cursor: pointer;
  margin-top: 75px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f3ec;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0;
  margin-right: 135px;
}

.sort-type {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sort-type li {
  margin-right: 65px;
}

.sort-type li:last-child {
  margin-right: 0;
}

.sort ul {
  padding: 0;
  margin: 0;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dashed #ee3643;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type a:active {
  color: #ee3643;
  border-bottom: none;
}

.sort-switch {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sort-switch li {
  margin-right: 30px;
}

.sort-switch li:last-child {
  margin-right: 0;
}

.sort-switch a polyline {
  fill: #c5c5c5;
}

.sort-switch a:hover polygon,
.sort-switch a:hover polyline {
  fill: #000000;
}

.sort-switch a:active polygon,
.sort-switch a:active polyline {
  fill: #ee3643;
}

.sort-switch .active polygon {
  fill: #ee3643;
  opacity: 1;
}

.pagination {
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-list a {
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item .next-btn {
  padding: 10px  30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  background-color: #ee3643;
  color: #ffffff;
}

.about-perforator {
  background-color: #f2f6f8;
  padding: 65px 0;
}

.about-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforator p {
  font-size: 13px;
  line-height: 24px;
}

.modal {
  position: fixed;
  display: none;
  width: 620px;
  margin: 0 auto;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  padding-top: 50px;
}

.modal-cart,
.modal-write-us {
  position: absolute;
  left: 50%;
  margin-left: -310px;
}

.modal-cart {
  top: 412px;
  text-align: center;
}

.modal-write-us {
  top: 2520px;
}

.modal-container {
  width: 460px;
  margin: 0 auto;
}

.modal-map img  {
  display: block;
}

.modal-map {
  display: none;
  position: fixed;
  top: 2347px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
}

.modal-cart h2 {
  position: relative;
  font-size: 30px;
  line-height: 30px;
  padding-left: 98px;
  margin-bottom: 50px;
}

.modal-cart h2::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -33px;

  width: 66px;
  height: 66px;
  background-image: url(../img/check.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-form label {
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  width: 216px;
  /*color: #dee3e4;*/
  border: none;
  border: 2px solid #dee3e4;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  outline: none;
}

.write-us-form input:focus {
  border-color: #ee3643;
}

.write-us-form textarea {
  width: 460px;
  border: none;
  border: 2px solid #dee3e4;
  border-radius: 5px;
  outline: none;
}

.write-us-form textarea:focus {
  border-color: #ee3643;
}

.modal-footer {
  background-color: #f4f4f4;
  padding-top: 35px;
  padding-bottom: 35px;
}

.modal-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
}

.cart-btn-get,
.cart-btn-continue {
  display: inline-block;
  width: 220px;
  border-radius: 3px;
  padding: 10px 0;
}

.cart-btn-get {
  margin-right: 16px;
}

.cart-btn-get:hover,
.cart-btn-continue:hover,
.cart-btn-get:focus,
.cart-btn-continue:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal-close {
  border: none;
  background-color: transparent;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;
  background-image: url(../img/closebtn.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}
